# .NET
bin/
obj/
*.user
*.suo
.vs/
*.dll
*.exe
*.pdb
*.cache
*.log

# EF Core
# (keep Migrations folder)

# Angular
node_modules/
dist/
.angular/

# Environment
appsettings.Development.json

# OS
.DS_Store
Thumbs.db
